@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');




 ::-webkit-scrollbar {
   width: 8px;
 }

 ::-webkit-scrollbar-track {
   -webkit-box-shadow: auto;
   -webkit-border-radius: auto;
   border-radius: auto;
   background: white;
 }

 ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: #D04D48;
   -webkit-box-shadow: auto;
 }


      
      
